<%= turbo_frame_tag dom_id(tweet) do %>
  <div style="background: lightgrey; width: 300px; padding: 10px;">
    <%= tweet.body %>
    <br>
    <%= link_to :edit, edit_tweet_path(tweet) %>
    <%= button_to "likes (#{tweet.likes || 0})", tweet_path(tweet, like: true), method: :put %>
    <%= button_to :delete, tweet_path(tweet), method: :delete %>
  </div>
  <br>
<% end %>