<%= turbo_frame_tag dom_id(product) do %>
   <div class="flex flex-col mt-8">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <div class="flex">
                    <div class="w-1/2 px-6 py-4 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Id</div>
                    <div class="w-1/2 px-6 py-4 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Code</div>
                    <div class="w-1/2 px-6 py-4 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Description</div>
                    <div class="w-1/2 px-6 py-4 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Category</div>
                    <div class="w-1/2 px-6 py-4 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Price</div>
                    <div class="w-1/2 px-6 py-4 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Status</div>
                    <div class="w-1/2 px-6 py-4 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Actions</div>
                </div>
                <div class="flex bg-white">
                    <div class="w-1/2 px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <div class="flex items-center">
                            <div class="ml-2">
                                <div class="text-sm leading-5 font-medium text-gray-900"><%= product.id %></div>
                            </div>
                        </div>
                    </div>
                       <div class="w-1/2 px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <div class="flex items-center">
                            <div class="ml-2">
                                <div class="text-sm leading-5 font-medium text-gray-900"><%= product.code %></div>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <div class="flex items-center">
                            <div class="ml-2">
                                <div class="text-sm leading-5 text-gray-900"><%= product.description %></div>
                            </div>
                        </div>
                    </div>
                       <div class="w-1/2 px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <div class="flex items-center">
                            <div class="ml-2">
                                <div class="text-sm leading-5 text-gray-900"><%= product.category.description %></div>
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                        <%= sprintf('%.2f', product.price) %>
                    </div>
                    <div class="w-1/2 px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"><%= product.status %></span>
                    </div>
                    <div class="w-1/2 px-6 py-4 whitespace-no-wrap text-left border-b border-gray-200 text-sm leading-5 font-medium">
                        <div class="flex items-center">
                            <div class="ml-2">
                                <%= link_to :edit, edit_product_path(product), class:"bg-blue-500 text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" %>
                            </div>
                            <div class="ml-2">
                                <%= button_to :delete, product_path(product), method: :delete, class:"bg-red-500 text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"  %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>